<fieldset>
<div class="partial_form">
    <%= f.label :content, "Answer" %>
    <%= f.text_field :content, :class => "input-xxlarge" %>
    <%= f.hidden_field :_destroy %>
    <%= link_to "Remove", "#", :class => "remove_fields" %><br>
</div>
</fieldset>