<h1>COMMENTS</h1>

<p>Check out what people are talking about at the Museums.</p>

<% if @comments.length <= 0 %>
    <p>There are no recent comments</p>
<% else %>

    <% @count = 0 %>
    <% @comments.each do |comment| %>
        <% if @count % 3 == 0 %>
            <div class="row-fluid">
        <% end %>
        <div class="span4">
            <p class="triangle-right">
                <%= comment.content %><br>
                <span class="comment_details">
                About: <%= comment.piece.title if comment.piece %>
                <%= comment.connection.title if comment.connection %>
                <%= comment.tour.title if comment.tour %>
                </span>
            </p>
        </div>
        <% if @count % 3 == 2 %>
            </div>
        <% end %>
        <% @count += 1 %>
    <% end %>
<% end %>
