<h1>Dashboard</h1>
<div class="row">
    <div class="span4">
        <div class="bs-docs-example">
            <h3>Recent Comments</h3>
            <ul>
                <li>Item 1</li>
                <li>Item 2</li>
                <li>Item 3</li>
                <li>Item 2</li>
                <li>Item 3</li>
                <li>Item 1</li>
                <li>Item 2</li>
                <li>Item 3</li>
                <li>Item 2</li>
                <li>Item 3</li>
            </ul>
            <p style="text-align: right">
                More...
            </p>
        </div>
    </div>
    <div class="span4">
        <div class="bs-docs-example">
            <h3>Recent Tours</h3>
            <ul>
                <li>Item 1</li>
                <li>Item 2</li>
                <li>Item 3</li>
                <li>Item 2</li>
                <li>Item 3</li>
                <li>Item 1</li>
                <li>Item 2</li>
                <li>Item 3</li>
                <li>Item 2</li>
                <li>Item 3</li>
            </ul>
            <p style="text-align: right">
                More...
            </p>
        </div>
    </div>
    <div class="span4">
        <div class="bs-docs-example">
            <h3>Recent Users</h3>
            <ul>
                <li>Item 1</li>
                <li>Item 2</li>
                <li>Item 3</li>
                <li>Item 2</li>
                <li>Item 3</li>
                <li>Item 1</li>
                <li>Item 2</li>
                <li>Item 3</li>
                <li>Item 2</li>
                <li>Item 3</li>
            </ul>
            <p style="text-align: right">
                More...
            </p>
        </div>
    </div>
</div>


