<h1>WHO ARE YOU TODAY?</h1>
<p>Chose your identity</p>

<% if @tours.length <= 0 %>
    <p>There are no tours</p>
<% else %>
    <% @count = 0 %>
    <% @tours.each do |tour| %>
        <% if @count % 3 == 0 %>
            <div class="row-fluid">
        <% end %>
        <div class="span4">
            <%= link_to image_tag(tour.image.url(:thumb)) + tour.title, tour, :class => "btn btn-warning tour-btn" %>
        </div>
        <% if @count % 3 == 2 %>
            </div>
        <% end %>
        <% @count += 1 %>
    <% end %>
<% end %>
