<script type="text/javascript" src="/assets/paloma/jquery.rwdImageMaps.js"></script>
<div>
    <ul class="nav nav-tabs">
        <li id="first_tab"><a href="#first_floor" data-toggle="tab">Floor 1</a></li>
        <li id="second_tab"><a href="#second_floor" data-toggle="tab">Floor 2</a></li>
        <li id="third_tab"><a href="#third_floor" data-toggle="tab">Floor 3</a></li>
    </ul>
</div><!-- /navbar -->


<div class="tab-content">
    <!-- Floor 1 -->
    <div id="first_floor" class="tab-pane">
        <div id="1_map" style="text-align:center; width:100%; position: relative; margin-left:auto; margin-right:auto;">
            <img id="Image-Maps_floor_1" src="/assets/MAPv1_Floor1.png" usemap="#Image-Maps_floor_1" border="0" width="1024" height="513" alt="" class="map_pos"/>
            <map id="_Image-Maps_floor_1" name="Image-Maps_floor_1">

              <area shape="rect" id="gal0" coords="592,91,628,125" alt="ice age" title="ice age"/>
              <area shape="rect" id="gal1" coords="631,91,705,128" alt="amphibians" title="amphibians"/>
              <area shape="rect" id="gal2" coords="544,142,589,205" alt="dinosaurs" title="dinosaurs"/>
              <area shape="rect" id="gal3" coords="698,237,758,259" alt="gems and jewelry" title="gems and jewelry"/>
              <area shape="rect" id="gal4" coords="567,237,692,272" alt="minerals" title="minerals"/>
              <area shape="rect" id="gal5" coords="543,291,618,339" alt="geology" title="geology"/>
              <area shape="rect" id="gal6" coords="739,287,785,355" alt="hall of architecture" title="hall of architecture"/>
              <area shape="rect" id="gal7" coords="345,293,358,389" alt="elevator gallery" title="elevator gallery"/>
              <area shape="rect" id="gal8" coords="601,391,648,438" alt="Grand Staircase 1" title="Grand Staircase 1"/>
              <area shape="rect" id="gal9" coords="647,310,693,347" alt="Miniatures" title="Miniatures"/>
              <area shape="rect" id="gal10" coords="541,91,587,128" alt="Bone Hunters Quarry" title="Bone Hunters Quarry"/>

                <area shape="rect" coords="1022,511,1024,513" href="/assets/MAPv1_Floor1.png" alt="Image Map" title="Image Map" />
            </map>
        </div>
      <script>
          $(document).ready(function(e) {
              $('#Image-Maps_floor_1').rwdImageMaps();
           });
      </script>
    </div>
    <!-- Floor 2 -->
    <div id="second_floor" class="tab-pane">
        <div id="2_map" style="text-align:center; width:100%; position: relative; margin-left:auto; margin-right:auto;">
            <img id="Image-Maps_floor_2" src="/assets/MAPv1_Floor2.png" usemap="#Image-Maps_floor_2" border="0" width="1024" height="515" alt="" class="map_pos"/>
            <map id="_Image-Maps_floor_2" name="Image-Maps_floor_2">

              <area shape="rect" id="gal11" coords="361,446,554,483" alt="contemporary art" title="contemporary art"/>
              <area shape="rect" id="gal12" coords="684,18,729,72" alt="botany" title="botany"/>
              <area shape="rect" id="gal13" coords="225,228,357,281" alt="scaife galleries 1 and 2" title="scaife galleries 1 and 2"/>
              <area shape="rect" id="gal14" coords="227,282,359,321" alt="scaife galleries 3 to 6" title="scaife galleries 3 to 6"/>
              <area shape="rect" id="gal15" coords="227,349,359,411" alt="scaife galleries 7 to 12" title="scaife galleries 7 to 12"/>
              <area shape="rect" id="gal16" coords="227,415,359,462" alt="scaife galleries 13 to 15" title="scaife galleries 13 to 15"/>
              <area shape="rect" id="gal17" coords="194,251,226,377" alt="Art before 1300" title="Art before 1300"/>
              <area shape="rect" id="gal18" coords="193,384,225,463" alt="African art" title="African art"/>
              <area shape="rect" id="gal19" coords="675,399,728,445" alt="decorative arts front" title="decorative arts front"/>
              <area shape="rect" id="gal20" coords="731,397,791,443" alt="decorative arts back" title="decorative arts back"/>
              <area shape="rect" id="gal21" coords="655,311,699,366" alt="Charity Randall Gallery " title="Charity Randall Gallery"/>
              <area shape="rect" id="gal22" coords="592,413,657,468" alt="grand staircase 2" title="grand staircase 2"/>
              <area shape="rect" id="gal23" coords="587,74,637,137" alt="North american wildlife left" title="North american wildlife left"/>
              <area shape="rect" id="gal24" coords="639,75,704,137" alt="north american wildlife right" title="north american wildlife right"/>
              <area shape="rect" id="gal25" coords="541,23,591,69" alt="african wildlife" title="african wildlife"/>

                <area shape="rect" coords="1022,513,1024,515" href="/assets/MAPv1_Floor2.png" alt="Image Map" title="Image Map" />
            </map>
        </div>
      <script>
          $(document).ready(function(e) {
              $('#Image-Maps_floor_2').rwdImageMaps();
          });
      </script>
    </div>
    <!-- Floor 3 -->
    <div id="third_floor" class="tab-pane">
        <div id="3_map" style="text-align:center; width:100%; position: relative; margin-left:auto; margin-right:auto;">
            <img id="Image-Maps_floor_3" src="/assets/MAPv1_Floor3.png" usemap="#Image-Maps_floor_3" border="0" width="1024" height="509" alt="" class="map_pos"/>
            <map id="_Image-Maps_floor_3" name="Image-Maps_floor_3">

              <area shape="rect" id="gal26" coords="511,155,580,189" alt="jurassic overlook" title="jurassic overlook"/>
              <area shape="rect" id="gal27" coords="399,329,445,378" alt="hall of birds" title="hall of birds"/>
              <area shape="rect" id="gal28" coords="348,383,420,456" alt="ancient egypt" title="ancient egypt"/>
              <area shape="rect" id="gal29" coords="650,383,748,430" alt="american indians" title="american indians"/>
              <area shape="rect" id="gal30" coords="424,381,489,448" alt="Grand Staircase" title="Grand Staircase"/>
              <area shape="rect" id="gal31" coords="502,382,575,431" alt="polar world front" title="polar world front"/>
              <area shape="rect" id="gal32" coords="579,381,646,430" alt="polar world back" title="polar world back"/>
              <area shape="rect" id="gal33" coords="419,76,597,137" alt="R.P. Simmons Family Gallery" title="R.P. Simmons Family Gallery "/>

            </map>
        </div>
      <script>
          $(document).ready(function(e) {
              $('#Image-Maps_floor_3').rwdImageMaps();
          });
      </script>
    </div>
</div>


<!-- Checkin question -->

<div id="checkin" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal"  aria-hidden="true">×</button>
    <h2 id="itemTitle1"></h2>
  </div>
  <div class="modal-body" id="checkin_body" style="height:100%">
    <p class="info_details_style" id="question"></p>
      <div data-role="fieldcontain">
        <fieldset id="checkinQuestion" data-role="controlgroup">

          <select name="checkinQuestionAnswers" id="answers">

          </select>
        </fieldset>
      </div>
    <p class="info_details_style" id="checkin_fb"></p>
      <div class="modal-footer" style="height:100%">
        <button class="btn"  onclick="checkAnswer()" aria-hidden="true">Submit</button>
      </div>
    </div><!-- modal body -->
</div>

<!-- item information -->
<div id="itemInformation" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" onclick="closeAllDialogs()"  aria-hidden="true">×</button>
    <h2 class="myModalLabel" id="itemTitle2"></h2>
  </div>

  <div class="modal-body" id="itemInformation_body">
      <div>
        <ul class="nav nav-tabs">
          <li class="active"><a href="#itemInfoTab" data-toggle="tab" class="info_details_style">Information</a></li>
          <li><a href="#connectionTab" data-toggle="tab" class="info_details_style">Connections</a></li>
          <li><a href="#commentsTab" data-toggle="tab" class="info_details_style">Comments</a></li>
        </ul>
      </div><!-- /navbar -->

      <div class="tab-content">

        <!-- Item Information -->
        <div id="itemInfoTab" class="tab-pane info_details_style active">
          <p style="text-align:center">
            <image id="item_image" width="50%" height="50%"></image><br>
          </p>
          <p class="info_details_style" id="after_info"></p><br>
        </div>

        <div id="connectionTab" class="tab-pane">
          <h5 class="info_details_style" id="btw_con_1"></h5>
          <p class="info_details_style" id="con_1"></p><br>
          <h5 class="info_details_style" id="btw_con_2"></h5>
          <p class="info_details_style" id="con_2"></p><br>
        </div>

        <div id="commentsTab" class="tab-pane">
         <input type="text" class="input-large" id="usercomment">
          <button onclick="submit_comment()">Submit</button>
          <div class="info_details_style" id="prev_comments">
            <p class="info_details_style" id="new_comment"></p>
            <p class="info_details_style" id="moderation_notice"></p>
            <p class="info_details_style" id="comm1"></p>
            <p class="info_details_style" id="comm2"></p>
            <p class="info_details_style" id="comm3"></p>
          </div>
        </div>

      </div>
  </div> <!--modal body-->
  <div class="modal-footer">
    <button class="btn"  onclick="closeAllDialogs()" aria-hidden="true">Close</button>
  </div>

 </div>

