<div class="row-fluid">
    <div class="span12">
        <%= link_to "Try buttons interface", tours_path %>
    </div>
</div>
<div class="row-fluid">
  <!--<div id="chart" class="span4 offset4" style="text-align: center"></div>-->
  <div id="chart" class="span8 offset8" style="text-align: left"></div>
</div>

<div id="teaser" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal"  aria-hidden="true">×</button>
    <h2 id="title"></h2>
  </div>
  <div class="modal-body" id="teaser_body">
    <p style="text-align: center">
      <image id="iden_image" width="50%" height="50%"></image><br>
    </p>
    <p id="info"></p>
  </div>
  <div class="modal-footer">
    <button id="ident_to_item_link">Check it out!</button>
  </div>
</div>
</html>