<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>

</body>
<div id="teaser" class="modal hide fade ">
  <h3 id="title"></h3>
  <p id="info" style="color:red;"></p>
  <button id="ident_to_item_link" style="color:red;">Check it out!</button>
</div>
</html>