<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>


  <div id="chart" class="span10 offset1" style="text-align: center"></div>


</body>
<div id="about" class="modal hide fade">
    <a href="#"
       data-theme="c"
       data-rel="back" data-role="button"
       data-icon="delete" data-iconpos="notext"
       class="ui-btn-right">Close</a>
</div>
<div id="teaser" class="modal hide fade">
    <h4 id="title"></h4>
    <p id="info"></p>
</div>
</html>