<div id="chart" class="span12 offset1" style="text-align: center"></div>

<div id="teaser" class="modal hide fade"tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal"  aria-hidden="true">×</button>
    <h2 id="title"></h2>
  </div>
  <div class="modal-body">
    <p id="info" class="info_details_style"></p>
  </div>

</div>
