<div class="row-fluid">
    <div class="span4">
        <div style="position:relative">
            <h3 class="web_text" id="tour_title">.</h3>
            <h5 class="web_text" id="tour_descr">.</h5>
          <br>
            <h5 class="web_text">Click the center icon to begin</h5>
          <br>
          <br>
          <img width="25" height="25" src="/assets/connection.png"/> <span class="web_text">= make the connection!</span>

        </div>
    </div>
  <div id="chart" class="span8" style="text-align: center; text-anchor: middle"></div>
</div>

<div id="teaser" class="modal hide fade"tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal"  aria-hidden="true">×</button>
    <h2 id="title"></h2>
  </div>
  <div class="modal-body" id="teaser_body">
    <p id="info" class="info_details_style"></p>
  </div>
  <div class="modal-footer">
    <button class="close" data-dismiss="modal" aria-hidden="true">Close</button>
  </div>

</div>
