<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>


  <div id="chart" class="span12 offset1" style="text-align: center"></div>


</body>

<div id="teaser" class="modal hide fade">
    <h4 id="title" class="info_details_style"></h4>
    <p id="info" class="info_details_style"></p>
</div>
</html>