<div class="row-fluid">
    <div class="span7">
        <h1>WELCOME TO THE VOYAGE!</h1>

        <p>
            The Voyage is all about creating new connections.  The Carnegie Museums of
            Art and Natural History invite you to join in a new experience.  Launch
            The Voyage on your internet-enabled smartphone or tablet, while in the
            museum, and select a tour.  Then participate as you travel throughout the
            museums, uncovering connections as you travel.  Don't forget to leave a
            comment!
        </p>
        <p>
            Come join us!
        </p>

    </div>
    <div class="span5">
        <div class="well side_area">
            <iframe width="100%" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=4400+Forbes+Avenue+Pittsburgh,+PA+15213&amp;aq=&amp;sll=40.431368,-79.9805&amp;sspn=0.194431,0.393105&amp;ie=UTF8&amp;hq=&amp;hnear=4400+Forbes+Ave,+Pittsburgh,+Allegheny,+Pennsylvania+15213&amp;t=m&amp;z=14&amp;ll=40.443657,-79.951147&amp;output=embed"></iframe>
            <br/>
            <small class="museum_googlemaps">
                <a href="https://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=4400+Forbes+Avenue+Pittsburgh,+PA+15213&amp;aq=&amp;sll=40.431368,-79.9805&amp;sspn=0.194431,0.393105&amp;ie=UTF8&amp;hq=&amp;hnear=4400+Forbes+Ave,+Pittsburgh,+Allegheny,+Pennsylvania+15213&amp;t=m&amp;z=14&amp;ll=40.443657,-79.951147" style="color:#0000FF;text-align:left">
                    View Larger Map
                </a>
            </small>
            <br>
            <br>
            <p>
                Address: 4400 Forbes Ave, Pittsburgh, PA 15213
            </p>
            <p>
                Phone: (412) 622-3131
            </p>

            <p>Hours:</p>
            <ul>
                <li>Monday: Closed</li>
                <li>Tuesday:	10:00 am – 5:00 pm</li>
                <li>Wednesday:	10:00 am – 5:00 pm</li>
                <li>Thursday:	10:00 am – 8:00 pm</li>
                <li>Friday:	10:00 am – 5:00 pm</li>
                <li>Saturday:	10:00 am – 5:00 pm</li>
                <li>Sunday:	12:00–5:00 pm</li>
            </ul>

        </div>
    </div>
</div>