// Place all the styles related to the admin/dashboard controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap";

.main_content {
  padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
  padding-bottom: 40px;
}

footer {
  color: #999999;
}

/* Base class */
.bs-docs-example {
  position: relative;
  margin: 15px 0;
  padding: 39px 19px 14px;
  *padding-top: 19px;
  background-color: #fff;
  border: 1px solid #ddd;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

ul.dashboard_list {
  list-style: none;
  padding: 0;
  margin: 0;
}

ul.dashboard_list li a {
  display: block;
  padding: 5px;
  border-bottom: 1px solid #DDDDDD;
}

ul.dashboard_list li a:hover {
  text-decoration: none;
  background-color: #CCEEFF;
}