<fieldset>
    <div class="partial_form">
        <%= f.label :name, "City" %>
        <%= f.text_field :name, :class => "input-xxlarge" %>
        <%= f.hidden_field :_destroy %>
        <%= link_to "Remove", "#", :class => "remove_fields" %><br>
    </div>
</fieldset>