/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 *= require jquery.mobile
 */

.admin_nav li a {
    font-weight: normal;
    color: #FFFFFF;
}

.admin-group {
    margin: 0;
    padding: 0;
}

ul.nav-tabs {
    margin: 0;
    margin-top: 20px;
}

div.tab-content {
    background-color: #FFFFFF;
    padding: 20px;
    border: 1px solid #DDDDDD;
    border-top: 0;
    margin-bottom: 20px;
}
.centered
{
    width: 100%;
    margin: 0 auto;
}


line {
    fill: none;
    stroke: #666;
    stroke-width: 1.5px;
}

/*circle {
    fill: white;
    stroke: #fff;
    stroke-width: 1.5px;
} */

text {
    color: red;
    font: 25px sans-serif;
    pointer-events: none;
}

@media only screen and (min-width:0px) {
    #test{width:100px; height:100px;}
}

@media only screen and (min-width:400px) {
#test{width:400px; height:400px;}

}

#go_link{
    padding-top: 20px;
    margin-top: 20px;
  font-size: 60px;
}

.circle {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    background: rgb(255, 39, 9);
    background: rgba(255, 39, 9, 0.69);
    /* width and height can be anything, as long as they're equal */
}

#cir1
{
    position: absolute;
    top: 110px;
    left: 300px;
    padding: 10px;
}
