/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require bootstrap
 *= require_self
 */

$navbarBackground:                #13504B ;
$navbarBackgroundHighlight:       #1C766D ;
$navbarText:                      #99FFEE ;
$navbarLinkColor:                 #FFFFFF ;
$navbarSearchPlaceholderColor:    #99FFEE ;

@import "bootstrap";
@import "bootstrap-responsive";

html {
  height: 100%;
}

/* 1C766C */

body {
  height: 100%;

  background-attachment: fixed;
  /* fallback */
  background-color: #218980;

  background-image: url('desktop/WavesTile.png'), -moz-linear-gradient(top,  #339999,  #13504B);
  background-image: url('desktop/WavesTile.png'), -webkit-gradient(linear, left top, left bottom, from(#339999), to(#13504B));

  /*
  background-image: url('desktop/WavesTile.png');
  background-repeat: repeat;
    */
  color: #FFFFFF;
  font-family: "Sintony", Arial;
}

#main_content {
  margin-top: 50px;
}

h1, h2, h3, h4, h5, h6 {
  color: #F4BB3F;
  font-family: "Poiret One", Arial;
}

.homepage {
  font-size: 1.3em;
}

a {
  color: #FFFFFF;
  font-weight: bold;
}

h2.home_title {
  padding-top: 30px;
}

.dark_back {
  background-color: #113333;
  color: #9DDCBC;
  margin-top: 20px;
}

.content_box {
  padding: 20px;
}

.hidden
{
  visibility:hidden ;
}

line {
  fill: none;
  stroke: #ececec;
  stroke-width: 1.5px;
}


.circle {
  border-radius: 50%;
  text-align:center;
  /* width and height can be anything, as long as they're equal */
}

.not_done
{
  width: 50px;
  height: 50px;
  background: rgb(255, 253, 48);
  background: rgba(255, 240, 49, 0.67);
}

.done
{
  width: 50px;
  height: 50px;
  background: rgb(255, 0, 0);
  background: rgba(255, 0, 0, 0.67);
}

.next
{
  width: 50px;
  height: 50px;
  background: rgb(11, 151, 59);
  background: rgba(5, 255, 0, 0.66);
}


