<!DOCTYPE html>
<html>
<head>
    <title>The Voyage Welcome</title>
    <%= stylesheet_link_tag    "mobile", :media => "all" %>
    <%= javascript_include_tag "mobile" %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= csrf_meta_tags %>

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    <script src="../assets/js/html5shiv.js"></script>
    <![endif]-->

</head>
<body>

<div class="container">
    <div class="row-fluid">
        <div class="span12">
            <%= yield %>
        </div>
    </div>
</div> <!-- /container -->

</body>
</html>
