<div class="text_content">
    <h1>My Last Comments</h1>

    <div class="row-fluid">
        <div class="span5">
            <p class="triangle-right">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque nunc
                nisl, posuere vitae elementum at, faucibus vitae odio. Vivamus non erat risus. In hac habitasse
                platea dictumst. Aliquam dictum convallis odio, eget ultrices ipsum accumsan sed. Morbi vitae mi mi,
                dapibus egestas augue. Suspendisse euismod feugiat orci, in adipiscing mauris vestibulum nec. In ac
                hendrerit lorem. Nunc sed tempus elit. Donec facilisis, magna ut rutrum auctor, lacus erat tempus
                lacus, id dapibus nibh eros et erat. Morbi auctor scelerisque facilisis. Etiam eget augue convallis
                felis fringilla dapibus. Sed in ante odio.</p>
        </div>
        <div class="span5">
            <p class="triangle-right">Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac
                turpis egestas. Phasellus malesuada porta diam, eget rutrum nibh venenatis suscipit. Sed dui metus,
                consectetur ac egestas at, pharetra ut lacus. Nunc sed sem felis. Nulla tempor feugiat urna, id
                ultrices orci dapibus in. Vestibulum rhoncus sagittis dolor, at dapibus ipsum dictum eu. Donec quis
                metus ac quam dignissim rhoncus. Nunc tempor mattis sodales. Praesent interdum, odio et elementum
                elementum, sem metus molestie libero, vel tempor tellus libero sit amet diam. Nam neque felis,
                posuere sit amet tincidunt eget, vehicula sed nulla. Morbi id arcu at massa tincidunt iaculis. Nulla
                gravida dapibus mauris, sit amet commodo tortor interdum id. Ut nisi lacus, vestibulum nec molestie
                in, pulvinar quis erat. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per
                inceptos himenaeos. Vivamus lorem ante, facilisis in dapibus id, blandit ut urna.</p>
        </div>
        <div class="span5">
            <p class="triangle-right">Nullam tortor urna, hendrerit at feugiat sed, commodo at nisi. Nulla facilisi.
                Donec viverra mattis lectus sed blandit. Suspendisse hendrerit, diam a bibendum viverra, augue lacus
                congue dui, a facilisis odio justo sed metus. Aliquam dapibus vestibulum venenatis. Duis egestas
                ultrices eros eget ullamcorper. Phasellus lobortis consequat eros id feugiat.</p>
        </div>
        <div class="span5">
            <p class="triangle-right">Vestibulum vehicula nunc sed metus sodales non vestibulum nibh bibendum. In
                hac habitasse platea dictumst. In laoreet pretium quam nec consectetur. Aenean pharetra orci eget
                lorem varius facilisis. Etiam molestie porta egestas. Pellentesque purus dolor, sodales et iaculis
                vitae, condimentum vel erat. Nam sollicitudin, tellus ut tristique tempor, purus leo molestie
                tortor, non facilisis tortor felis et nibh. Sed luctus imperdiet orci nec eleifend. Fusce malesuada
                eleifend ultrices.</p>
        </div>
        <div class="span5">
            <p class="triangle-right">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque nunc
                nisl, posuere vitae elementum at, faucibus vitae odio. Vivamus non erat risus. In hac habitasse
                platea dictumst. Aliquam dictum convallis odio, eget ultrices ipsum accumsan sed. Morbi vitae mi mi,
                dapibus egestas augue. Suspendisse euismod feugiat orci, in adipiscing mauris vestibulum nec. In ac
                hendrerit lorem. Nunc sed tempus elit. Donec facilisis, magna ut rutrum auctor, lacus erat tempus
                lacus, id dapibus nibh eros et erat. Morbi auctor scelerisque facilisis. Etiam eget augue convallis
                felis fringilla dapibus. Sed in ante odio.</p>
        </div>
        <div class="span5">
            <p class="triangle-right">Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac
                turpis egestas. Phasellus malesuada porta diam, eget rutrum nibh venenatis suscipit. Sed dui metus,
                consectetur ac egestas at, pharetra ut lacus. Nunc sed sem felis. Nulla tempor feugiat urna, id
                ultrices orci dapibus in. Vestibulum rhoncus sagittis dolor, at dapibus ipsum dictum eu. Donec quis
                metus ac quam dignissim rhoncus. Nunc tempor mattis sodales. Praesent interdum, odio et elementum
                elementum, sem metus molestie libero, vel tempor tellus libero sit amet diam. Nam neque felis,
                posuere sit amet tincidunt eget, vehicula sed nulla. Morbi id arcu at massa tincidunt iaculis. Nulla
                gravida dapibus mauris, sit amet commodo tortor interdum id. Ut nisi lacus, vestibulum nec molestie
                in, pulvinar quis erat. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per
                inceptos himenaeos. Vivamus lorem ante, facilisis in dapibus id, blandit ut urna.</p>
        </div>
        <div class="span5">
            <p class="triangle-right">Nullam tortor urna, hendrerit at feugiat sed, commodo at nisi. Nulla facilisi.
                Donec viverra mattis lectus sed blandit. Suspendisse hendrerit, diam a bibendum viverra, augue lacus
                congue dui, a facilisis odio justo sed metus. Aliquam dapibus vestibulum venenatis. Duis egestas
                ultrices eros eget ullamcorper. Phasellus lobortis consequat eros id feugiat.</p>
        </div>
        <div class="span5">
            <p class="triangle-right">Vestibulum vehicula nunc sed metus sodales non vestibulum nibh bibendum. In
                hac habitasse platea dictumst. In laoreet pretium quam nec consectetur. Aenean pharetra orci eget
                lorem varius facilisis. Etiam molestie porta egestas. Pellentesque purus dolor, sodales et iaculis
                vitae, condimentum vel erat. Nam sollicitudin, tellus ut tristique tempor, purus leo molestie
                tortor, non facilisis tortor felis et nibh. Sed luctus imperdiet orci nec eleifend. Fusce malesuada
                eleifend ultrices.</p>
        </div>

    </div>
</div>