<div class="text_content">
    <h1>My Tours</h1>
    <ul>
        <li>The Pittsburgher (04/20/2013)</li>
        <li>The Marker (03/12/2013)</li>
        <li>Fashionista (03/05/2013)</li>
    </ul>
</div>